.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 3.2rem;
  height: calc(100vh - 8rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  max-width: 600px;

  > span {
    font-size: 2.4rem;
    font-weight: bold;
  }

  h1 {
    font-size: 7.2rem;
    line-height: 7.2rem;
    font-weight: 900;
    margin-top: 4rem;

    span {
      color: var(--cyan-500);
    }
  }
  p {
    font-size: 2.4rem;
    line-height: 3.8rem;
    margin-top: 2.4rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }
  button {
    margin-top: 4rem;
  }
}
